*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .container{
    min-height: 100vh;
}
.table td, .table th {
    text-align: center;
    vertical-align: middle;
}